<div class="container">
  <div class="row">
    <div id="verify_phone" class="col-md-9 register-right">
      <h3 class="register-heading">Enter Phone Number for Verification</h3>
      <form [formGroup]="verifyForm" class="form">
        <div [hidden]="user">
          <div id="send_number">
            <div class="form-group">
              <international-phone-number formControlName="phone" class="phone" [maxlength]="20" [defaultCountry]="'ug'" [required]="true"  name="phone" [allowedCountries]="['ug', 'ng', 'us']"
              [ngClass]="{ 'is-invalid': displayMessage.phone }"></international-phone-number>
              <span class="small text-danger">
                {{ displayMessage.phone }}
              </span>
            </div>
            <div class="input-group">
              <span></span>
              <div id="recaptcha-container" [ngStyle]="{ 'margin-right': '50px' }"></div>
              <div>
                <input
                  type="button"
                  (click)="sendLoginCode()"
                  class="btn btn-fill btn-info btn-wd"
                  name="sendText"
                  value="SMS Text Login Code"
                />
              </div>
            </div>
          </div>

          <div *ngIf="windowRef.confirmationResult">
            <div class="info-text">Please wait to receive an SMS Code in your number {{ phoneNumber }} ...</div>
            <hr />
            <div class="form-group">
              <input
                type="text"
                formControlName="code"
                class="form-control"
                placeholder="Enter SMS code like ***** Received"
              />
              <div
                class="small text-danger"
                *ngIf="(!verifyForm.get('code').valid && verifyForm.get('code').touched) || wrongCode"
              >
                Please enter the sms code received in your phone (768679)...
              </div>
            </div>
            <div class="col-lg-offset-3">
              <input
                type="button"
                (click)="verifyLoginCode()"
                class="btn btn-fill btn-info btn-wd "
                name="sendText"
                value="Verify"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="user" class="col-md-9">
      <div class="row register-form">
          <div class="col-md-12 col-sm-12">
              <form class="form" [formGroup]="userRegistrationForm" novalidate>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="first name"
                      formControlName="firstName"
                      [ngClass]="{ 'is-invalid': displayMessage.firstName }"
                      >
                      <span class="small text-danger">
                        {{ displayMessage.firstName }}
                      </span>
                  </div> <br>

                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="last name"
                      formControlName="lastName"
                      [ngClass]="{ 'is-invalid': displayMessage.lastName }"
                      >
                      <span class="small text-danger">
                        {{ displayMessage.lastName }}
                      </span>
                  </div> <br>

                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="********* Password"
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': displayMessage.password }"
                      >
                      <span class="small text-danger">
                        {{ displayMessage.password }}
                      </span>
                  </div> <br>

                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="********* confirm Password"
                      formControlName="confirmPassword"
                      [ngClass]="{ 'is-invalid': displayMessage.password }"
                      >
                      <span class="small text-danger">
                        {{ displayMessage.password }}
                      </span>
                  </div> <br>

                  <button
                    class="btn btn-primary mr-3"
                    style="width:80px;"
                    (click)="userSignUp()"
                    [title]="userRegistrationForm.valid ? '' : 'Disabled until the form data is valid'"
                    [disabled]="!userRegistrationForm.valid"
                  >
                    Register
                  </button>

              </form>
          </div>
      </div>
    </div>
  </div>
</div>
