.form {
  display: block;
  background: -webkit-linear-gradient(left, #ECAB28, #F4CA3A);
  margin-top: 3%;
  padding: 3%;
  border-radius: 5px;
}

.container h3 {
  text-align: center;
}

.form-group {
  flex-direction: row-reverse;
}

.form-group .phone{
  justify-content: center;
}

@media (max-width: 767px) {
  .container h3 {
    font-size: 1rem;
    color: rgb(39, 33, 21);
  }
}
