* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // box-sizing: border-box;
}
.mat-drawer-content {
  background: #ffffff !important;
}

.main-content {
  background: #262858;
  height: 100vh;
  overflow-x: hidden;
  overflow-x: auto;
}

.main-content .header-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 10px;
}

::ng-deep .mat-form-field-placeholder{

  color: #ffffff !important;
}

::ng-deep .mat-form-field-underline{
  background-color:#FFFFFF;
}

.right-sidebar {
  background: orange;
}

.right-sidebar-items {
  display: flex;
  flex-direction: column;
}

.profile {
  background: blue;
}

.new-review {
  background: green;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #7985cb;
}
// table {
//   width: 100%;
// }

form {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

// .mat-form-field {
//   text-align: center;
//   font-size: 14px;
//   width: 100%;
// }
// .mat-header-cell {
//   background: #f5b563;
//   font-size: 1rem;
//   color: #000000;
// }
// .mat-table__wrapper .mat-table {
//     min-width: auto !important;
//     width: 100% !important;
// }

// .mat-header-row {
//     width: 100%;
// }

// .mat-row {
//     width: 100%;
// }

// .mat-column-image {
//   flex: 0 0 25% !important;
//   min-width: 104px !important;
// }

table{
 width: 100%;
}

.mat-column-image {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 10%;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-plateNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-review {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.search {
  position: absolute;
  border:2px solid #7985cb;
  background-color:#7985cb;
  color:#fafafa;
}

