<div class="main row">
  <div class="col-md-8 main-content">
      <!-- <h1>
          {{ title }}
      </h1> -->
      <div class="mat-elevation-z8">
          <div class="header-dashboard">
              <mat-form-field>
                <input matInput placeholder="Search for taxi using plate number" #input>
              </mat-form-field>
              <div class="create-taxi">
                <button mat-raised-button color="primary" class="create-taxi-button" (click)="openDialog()">Add New Taxi Review</button>
              </div>
          </div>
          <div class="spinner-container" *ngIf="taxiDataSource.loading | async">

              <mat-spinner></mat-spinner>

          </div>
        <table mat-table [dataSource]="taxiDataSource"
        matSort matSortActive="review" matSortDirection="asc" matSortDisableClear >
            <!-- Image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Thumbnail </th>
          <td mat-cell *matCellDef="let row"><img [attr.src]="row.imageURL"
            onError="this.src='../../assets/img/default.jpg';"
            width="30%" height="auto" /> </td>
        </ng-container>

        <!-- Plate Number Column -->
        <ng-container matColumnDef="plateNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Number Plate </th>
          <td mat-cell *matCellDef="let row"> <a [routerLink]="['./', row.plateNumber]" >{{row.plateNumber}}</a> </td>
        </ng-container>

        <!-- Review Column -->
        <ng-container matColumnDef="review">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Average Review </th>
          <td mat-cell *matCellDef="let row"><ngb-rating
            [(rate)]="row.averageReview"
            [readonly]="true" max="5"
            style=" font-size: 1.5rem; color: #F3A41A;"></ngb-rating></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        </table>
        <mat-paginator [length]=20 [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
      </div>
  </div>
  <div class="col-md-4 right-sidebar">
    <div class="right-sidebar-items">
      <div class="profile">
        <mat-card>
          <mat-card-title>
            My Profile
          </mat-card-title>
          <hr>
          <mat-card-content>
            <div class="username"><strong>User Name: &nbsp; &nbsp; &nbsp; &nbsp;</strong>{{userName}}</div>
            <div class="contact-number"><strong>Contact: &nbsp; &nbsp; &nbsp; &nbsp;</strong> {{phoneNumber}}</div>
            <div class="date-joined"><strong>Joined On: &nbsp; &nbsp; &nbsp; &nbsp;</strong>{{joinedOn | date}}</div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="accent" (click)="logout()">LOG OUT</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <hr>
      <div class="new-review">
          <mat-card>
              <mat-card-title>
               Safari Buddy Statistics
              </mat-card-title>
              <hr>
              <mat-card-content>
                <p>Coming soon !!!!</p>
              </mat-card-content>
            </mat-card>
      </div>
    </div>
  </div>
</div>


