* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // box-sizing: border-box;
}
// .mat-drawer-content {
//   background: #ffffff !important;
// }

.main-content {
  background: #262858;
  height: 100vh;
  overflow-x: hidden;
  overflow-x: auto;
}

.main-content .header-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 10px;
}

tr .mat-header-row {
  position: sticky !important;
}

.mat-row:hover {
  background-color: rgb(252, 238, 195);
  cursor: pointer;
}

::ng-deep .main-content .header-dashboard  .mat-form-field-placeholder{

  color: #ffffff !important;
}

::ng-deep .main-content .header-dashboard  .mat-form-field-underline{
  background-color:#FFFFFF !important;
}


.right-sidebar-items {
  display: flex;
  flex-direction: column;
}

.profile .mat-card .mat-card-title,  .new-review .mat-card .mat-card-title{
  text-align: center;
}

.profile .mat-card .mat-card-content {
  justify-content: center;
  margin-left: 100px;
}

.profile .mat-card .mat-card-actions button {
  display: flex;
  justify-content: right;
  left: 280px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #7985cb;
}
// table {
//   width: 100%;
// }

form {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

table{
 width: 100%;
}

.mat-column-image {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 50% !important;
  width: 50% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 10%;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-plateNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-review {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.search {
  position: absolute;
  border:2px solid #7985cb;
  background-color:#7985cb;
  color:#fafafa;
}

@media(max-width: 480px) {
  .profile .mat-card .mat-card-actions button {
    left: 200px;
  }
  .profile .mat-card .mat-card-content {
    margin-left: 70px;
  }
}

