* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
.mat-drawer-content {
  background: #ffffff !important;
}

.main-content {
  background: red;
  height: 100vh;
}

.right-sidebar {
  background: orange;
}

.right-sidebar-items {
  display: flex;
  flex-direction: column;
}

.profile {
  background: blue;
}

.new-review {
  background: green;
}

