* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.mat-drawer-content {
  background: #ffffff !important;
}

.main-content {
  display: flex;
  background: #FFFFFF;
  overflow-x: hidden;
  overflow-x: auto;
}

.taxi-details {
  flex-basis: 60%;
}

.taxi-reviews {
  position:sticky;
  flex-basis: 40%;
  overflow-x: hidden;
  overflow-x: auto;
}

.taxi-reviews h3 {
  position:sticky;
  top: 0;
  background:#eee;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  color: #262858;
  z-index:2;
  text-align: center;
}

.reviews .single-review {
  background: #D8CACA;
  margin: 2px;
  padding: 5px;
}

.right-sidebar {
  background: orange;
}

.right-sidebar-items {
  display: flex;
  flex-direction: column;
}

.profile {
  background: blue;
}

.new-review {
  background: green;
}

.example-card {
  max-width: 100%;
}

.mat-card-actions button {
  padding: 5px;
}

@media (max-width: 769px) {
  .main-content {
    display: flex;
    flex-direction: column;
  }
}

