@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {
  // flex-grow: 1;
  background: url('../../assets/img/banner-img2.png') no-repeat;
  height: 100vh;
  background-size:contain;
  background-position:right;
  margin-top: 4rem;
  background-size: 80%;
  position: fixed;
}

.header {
  font-family: Anton;
  font-size: 2rem;
  color: #ecab27;
  margin: 4rem;
  text-align: center;
  position: absolute;
}

.sub-heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

footer {
  flex-shrink: 0;
  background: #ecab27;
  margin: 0;
  padding: 0;
  justify-self: end;
  margin-top: 42rem;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 767px) and (max-width: 1024px) {

  .container {
    background-position:right;
    margin-top: 12rem;
    background-size: 80%;
  }

  .header {
    font-size: 1.8rem;
    margin-top: 6rem;
    margin-left: 0;
    padding: 1rem;
    text-align: left;
    background: #f7f6f4;
    opacity: .8;
    border-radius: 5px;
    border: #f5c667 solid .5px;
  }
  .sub-heading {
    font-size: .9rem;
    color: #000000;
  }

  footer {
    margin-top: 54rem;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container {
    background-position:right;
    margin-top: -8rem;
    background-size: 80%;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    background-position:right;
    margin-top: -4rem;
    background-size: 80%;
  }

  .header {
    font-size: 1.8rem;
    margin-top: 14rem;
    margin-left: 0;
    padding: 1rem;
    text-align: left;
    background: #f7f6f4;
    opacity: .8;
    border-radius: 5px;
    border: #f5c667 solid .5px;
  }
  .sub-heading {
    font-size: .9rem;
    color: #000000;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    background-position:right;
    margin-top: 8rem;
    background-size: 80%;
  }

  .header {
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-left: 0;
    padding: 1rem;
    text-align: left;
    background: #f7f6f4;
    opacity: .9;
    border-radius: 5px;
    border: #f5c667 solid .5px;
  }
  .sub-heading {
    font-size: 0.8rem;
    color: #000000;
  }
  footer {
    margin-top: 33rem;
  }
}


