.mat-toolbar {
  font-weight: bolder;
  font-size: 2rem;
  background: #ECAB27;
  color: #ffffff;
}

.mat-drawer {
  background: #F4CA3A;
}

.mat-drawer a {
  background: #ECAB27;
  color: #ffffff;
  font-weight: bold;
  width: 8rem;
}

.mat-drawer-content {
  background: url('../assets/img/nightfall.jpg') no-repeat;
  background-size: 100%;
  // height: 100vh;
  // background: -webkit-linear-gradient(left, #eceecf, #92884c);
}

.mat-list-item .active {
  background: #27295C;
  color: rgb(239, 243, 16);
}

/* Spinner */
.spinner {
  font-size:300%;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index:10
}

.fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@media (min-width: 481px) and (max-width: 769px) {
  .mat-drawer a {
    width: 6rem;
    text-align: center;
  }
  .mat-drawer-content {
    background-size: 100% 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .mat-drawer a {
    width: 6rem;
    text-align: center;
  }
  .mat-drawer-content {
    background-size: 100% 100%;
  }
}

