
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
.app-name h1 {
  display: block;
  justify-content: center;
  margin-left: 10rem;
  font-family: 'Kaushan Script', cursive;
  font-size: 7rem;
  color: white;
  margin-top: 16%;
}

.form {
  display: block;
  background: #FFDD03;
  margin-top: 20%;
  padding: 3%;
  border-radius: 5px;
}

.container h3 {
  text-align: center;
  color: #0A0A0A;
  font-size: 1rem;
  margin-top: 1rem;
}

.form-group button {
  width: 80px;
}
.form-group {
  flex-direction: row-reverse;
}

.form-group .phone{
  justify-content: center;
}

@media (max-width: 769px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .container h3 {
    font-size: 1rem;
    color: #0A0A0A;
  }
  .app-name h1 {
    margin-top: 5%;
    margin-left: 0;
    text-align: center;
    font-size: 4rem;
  }
  .with-form {
    width: 100%
  }
  .form {
    margin-top: 10%;
  }

}

@media (max-width: 480px) {
  .row {
    flex-direction: column-reverse;
  }
  .app-name h1 {
    margin-left: 0;
    text-align: center;
    font-size: 3rem;
    margin-top: 10%;
  }

}
