<div class="container">
  <div class="row">
    <div class="col-xs-4">
        <form class="form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <h3>Welcome Back!</h3>
            <div class="alert alert-danger" [hidden]="!error || loading">
              phone number or password incorrect.
            </div>
            <div class="form-group">
              <input
                type="tel"
                class="form-control"
                formControlName="phoneNumber"
                autocomplete="phoneNumber"
                [placeholder]="'Registered Phone Number'"
              />
              <span hidden>Username</span>
              <small
                [hidden]="loginForm.controls.phoneNumber.valid || loginForm.controls.phoneNumber.untouched"
                class="text-danger"
              >
                Phone number is required
              </small>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                autocomplete="current-password"
                [placeholder]="'Password'"
                required
              />
              <span hidden>Password</span>
              <small
                [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                class="text-danger"
              >
                Password is required
              </small>
            </div>

            <div class="form-check form-group">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="remember" />
                <span>Remember me</span>
              </label>
            </div>
            <div class="form-group">
              <button class="btn btn-fill btn-info btn-wd" type="submit" [disabled]="loginForm.invalid || loading">
                <i class="fas fa-cog fa-spin" [hidden]="!loading"></i>
                <span>Login</span>
              </button>
            </div>
            <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="register-link">New User? Register</a>
          </form>
    </div>
    <div class="app-name col-xs-8">
      <h1>Safari Buddy</h1>
    </div>
  </div>
</div>
